<div class="row">
    <div class="col-4 mt-4">
        <h3 class="learned-number text-center">Dashboard</h3>
        <div class="dashboard border-right">
            <%if current_user.photo.attached? %>
                <%= image_tag current_user.photo.variant(resize:'200x200').processed, class:"photo-dashboard" %>
            <% else %>
                <%= image_tag 'cat.jpg', class: "photo-dashboard", alt: '元の画像' %>
            <% end %>
            <div class="lerned-history mt-2">
                <h3 class="learned-number"><%= current_user.name %></h3>
                <p class="learned-number">learned 0 words<p>
                <p class="learned-number">learned 0 words</p>
            </div>
        </div>
  </div>

    <div class="col-8 mt-4">
        <h3 class="learned-number text-center">Activities</h3>
    </div>
</div>