<div class="row show-top">
    <div class="col-4 mt-4">
        <p class="learned-number-title text-center">Dashboard</p>
        <div class="dashboard border-right">
            <%if current_user.photo.attached? %>
                <%= image_tag current_user.photo.variant(resize:'300x300').processed, class:"photo-dashboard" %>
            <% else %>
                <%= image_tag 'cat.jpg', class: "photo-dashboard", alt: '元の画像' %>
            <% end %>
            <div class="lerned-history mt-2">
                <p class="learned-number-name mb-4"><%= current_user.name %></p>
                <p class="learned-number">learned 0 words<p>
                <p class="learned-number">learned 0 words</p>
            </div>
        </div>
  </div>

    <div class="col-8 mt-4", style="padding-right: 0px">
        <p class="learned-number-title text-center">Activities</p>
    </div>
</div>