<h1 class="text-center mb-3">Users</h1>

<div class="paginate text-center">
    <%= will_paginate %>
</div>

<div class="row">
    <% @users.each do |user| %>
        <div class="col-6">
            <div class="media mb-3">
                <% if user.photo.attached? %>
            <%= image_tag user.photo.variant(resize:'500x500').processed, class:"photo" %>
                <% else %>
                    <%= image_tag 'cat.jpg', class: "photo", alt: '元の画像' %>
                <% end %>
                <div class="media-body">
                    <%= link_to user.name, user, style: "font-weight: bold" %>
                </div>
            </div>
        </div>
    <% end %>
</div>