<div class="form-image">
    <div class="col-6 mx-auto form-top pt-4">
        <h1 class="text-center pb-3 border-bottom", style="font-family: 'Frank Ruhl Libre', serif; color: white">Sign up</h1>
        <%= render partial: 'shared/form', locals: { user: @user } %>
    </div>
</div>