<div class="top">
    <div class="top-title">
        <h1 class="about text-center pt-4">ABOUT</h1>
    </div>
    <div class="top-text">
        <p class="top-textarea text-center">This is a E-learning application.In this application, you can learn the Football words.</p>
        <p class="top-textarea text-center">Through this application, You can learn Football words about tactics and character of players or so, like tikitaka or Catenaccio.If you wanna know more, you can get enough words on Youtube channnel callled Leo The Football.He's my favorite Football Youtuber.</p>
        <p class="top-textarea text-center">Just Enjoy learning football.Don't be too ristrict yourself.</p>
    </div>
    <%= render 'shared/staticparts' %>
</div>