<div class="top">
    <div class="top-text">
        <div class="top-title">
            <h1 class="top-textarea about text-center">ENJOY YOUR FOOTBALL LIFE</h1>
        </div>
        <h2 class="top-textarea text-center">
            Use this app to get more interest in football.Good luck with your fun.
        </h2>
    </div>
    <div class="signup text-center">
        <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg" %>
    </div>
    <%= render 'shared/staticparts' %>
</div>