<% if object.errors.any? %>
    <div class="alert alert-danger">
        This form contains <%= pluralize(object.errors.count, "error") %>
    </div>

    <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li style="color: white"><%= msg %></li>
        <% end %>
    </ul>
    <hr>
<% end %>