<div class="icons">
    <p>
        <a href="facebook.com"><i class="fab fa-facebook-f fa-fw"></i></a>
        <a href="twitter.com"><i class="fab fa-twitter fa-fw"></i></a>
        <a href="gmail.com"><i class="fas fa-envelope fa-fw"></i></a>
    </p>
</div>
    <div class="copy-right">
        <small class="copy-right-text">E-learning application &copy; Ryu</small>
    </div>
    <ul class="homeabout">
        <li class="homeabout-link">
            <%= link_to "Home", root_path, class: "text-link" %>
        </li>
        <li class="homeabout-link">
            <%= link_to "About", about_path, class: "text-link" %>
        </li>
    </ul>