<div class="create-top">
    <div class="col-6 pt-4 form-top">
        <h1 class="text-center pb-3 border-bottom title-admin">Edit Category</h1>
        <%= render partial: 'form', locals: { category: [:admin, @category] } %>
    </div>
    <div class="back-group">
        <%= link_to 'Back', admin_categories_path, class: "back back-new" %>
    </div>
</div>