@import 'bootstrap';

html, body{
  margin: 0;         /* 余白の削除 */
  padding: 0;        /* 余白の削除 */
  width:100%;
  height:100%;
}

.paginate {
  nav{
      display: inline-block;
  }
}

// header-css
.link-title {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(235, 0, 0);
  padding-left: 0.5px;
  transition: 0.6s;
  &:hover {
    opacity: 0.8;
    color: rgb(255, 10, 10);
  }
}

.far {
  color:rgb(235, 0, 0);
  transition: 0.6s;
  &:hover {
    opacity: 0.8;
    color: rgb(255, 10, 10);
  }
}

.navbar {
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-color: white;
}

.nav-link {
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
}

.dropdown {
  transition: 0.8s;
}

.dropdown.show > .dropdown-toggle {
  background-color: #ffb8b8;
  border-radius: 5px;
}

.dropdown-item {
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
}

.dropdown-menu {
  border: 2px solid gray;
  border-radius: 5px;
}


// staticpages-css
.top {
  background-image: url(soccer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  .icons {
      color: white;
      position: absolute;
          top: 85%;
          left: 8%;
  }
}

.homeabout {
  position: absolute;
    top: 87%;
    right: 5%;
  .text-link{
    color: white;
    text-decoration:none;
    font-family: 'Lobster', cursive;
    transition: 0.8s;
    &:hover {
        color: red;
        font-size: 1.02em;
    }
  }
  li {
    list-style: none;
  }
}

.copy-right {
  position: absolute;
    top: 90%;
    left: 5%;
  .copy-right-text{
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
  }
}

.top-text {
  width: 85%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 3%;
}

.top-textarea {
  color: rgb(245, 245, 245);
  font-size: 1.3em;
  font-family: 'Frank Ruhl Libre', serif;
}

.about{
  font-size: 4em;
  font-family: 'Frank Ruhl Libre', serif;
  color: red;
}

.signup .btn {
  background-color: rgb(8, 8, 8);
  transition: 0.3s;
  color: white;
  font-family: 'Frank Ruhl Libre', serif;
  letter-spacing: .1em;
  border-color: rgb(255, 153, 153);
  &:hover{
    opacity: 0.8;
    background-color: white;
    color: black;
  }
}

.signup {
  position: absolute;
    top:50%;
    left: 44%;
}

.fa-fw {
  color: white;
  font-size: 1em;
  transition: 0.8s;
  &:hover {
    color: red;
    font-size: 1.1em;
  }
}

// form-css
.form-top-session {
  background-color: rgba(26, 25, 25, 0.7);
  border-radius: 10px;
  margin-top: 1%;
  padding-bottom: 1%;
}

.form-top {
  background-color: rgba(26, 25, 25, 0.7);
  border-radius: 10px;
  padding-bottom: 1%;
}

.form-group .form-text {
  font-family: 'Frank Ruhl Libre', serif;
  color: white;
}

// to signup btn

.sign-btn {
  font-family: 'Frank Ruhl Libre', serif;
  letter-spacing: .1em;
}

// signup and login 
.create-btn {
  font-family: 'Frank Ruhl Libre', serif;
  letter-spacing: .1em;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  height: 40px;
  &:hover {
    opacity: 0.8;
    background-color: rgb(217, 253, 193);
  }
}

// photo
.photo {
  width:70px;
  height: 70px;
  border-radius: 50%;
}

// dashboard
.dash {
  height: 100%;
}

.learned-number {
  font-family: 'Frank Ruhl Libre', serif;
}

.learned-number-name {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 300;
  font-size: 1.8em;
  letter-spacing: .1em;
}

.learned-number-title {
  font-family: 'Bitter', serif;
  font-weight: 150;
  font-size: 2.5em;
  letter-spacing: .1em;
}

.dashboard {
  text-align: center;
  .line {
    width: 70%;
  }
}

.photo-dashboard {
  width:150px;
  height: 150px;
  border-radius: 52%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.learned-history {
  margin-left: 40%;
}

.learned-history-admin {
  height: 50%;
}

.row {
  width: 100%;
}

// btn-edit in Showpage
.btn-edit {
  border-color: black;
  font-family: 'Frank Ruhl Libre', serif;
  width: 50%;
  height: 10%;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: .1em;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: 0.3s;
  &:hover{
    opacity: 0.8;
    background-color: black;
    color: white;
  }
}

.btn-admin {
  border-color: black;
  padding-top: 2%;
  font-family: 'Frank Ruhl Libre', serif;
  width: 50%;
  height: 50px;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: .1em;
  margin-bottom: 10px;
  transition: 0.3s;
  &:hover{
    opacity: 0.8;
    background-color: black;
    color: white;
  }
}

// show
.show-top {
  padding-top: 30px;
  background-color: rgb(255, 247, 247);
  height: 650px;
}

.show-dash {
  margin-top: 75px;
}

.photo-show {
  width: 150px;
  height: 150px;
  border-radius: 52%;
  margin-top: 5%;
  margin-bottom: 5%;
}

// follow-number
.show-dash .stats {
  margin-left: 17.3%;
  padding: 0;
  a {
    float: left;
    border-left: 1px solid gray;
    color: gray;
    padding: 0, 10px;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

// .follow-btn
.follow-btn {
  border-color: black;
  font-family: 'Frank Ruhl Libre', serif;
  width: 50%;
  height: 10%;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: .1em;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
  &:hover{
    background-color: rgba(24, 121, 248, 0.8);
    color: white;
  }
}

.unfollow-btn {
  border-color: black;
  font-family: 'Frank Ruhl Libre', serif;
  width: 50%;
  height: 10%;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: .1em;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
  &:hover{
    background-color: rgba(241, 38, 23, 0.8);
    color: white;
  }
}

.stats-former {
  padding-right: 5px;
}
.stats-latter {
  padding-left: 5px;
}

// show-follow
.nothing {
  margin: 0 auto;
  p {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 2.5em;
  text-align: center;
  }
}

.show-top {
  margin: 0;
}

.user-group {
  margin-left: 12%;
}

.follow-title {
  font-family: 'Bitter', serif;
  font-weight: 150;
  font-size: 2.8em;
  letter-spacing: .1em;
  padding-top: 40px;
}

// follow-users

.follow-user {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.5em;
  margin-left: 12px;
  margin-top: 15px;
  font-weight:bold;
  list-style: none;
  display: block;
  color: black;
  &:hover {
    opacity: 0.7;
    color: black;
  }
}

// admin-page
.admin-title {
  font-family: 'Bitter', serif;
  font-weight: 150;
  font-size: 2.8em;
  letter-spacing: .1em;
}

.btn-adminpage {
  border-color: black;
  font-family: 'Frank Ruhl Libre', serif;
  width: 20%;
  height: 50px;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: .1em;
  margin-bottom: 10px;
  transition: 0.8s;
  &:hover{
    opacity: 0.8;
    background-color: black;
    color: white;
  }
}

.back {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.5em;
  font-weight: 250;
  letter-spacing: .1em;
  transition: 0.3s;
  color: black;
  text-decoration: none !important;
  &:hover{
    opacity: 0.8;
    color: green;
  }
}

.back-parent {
  margin-left: 10%;
  margin-top: 3%;
}

.admin-top {
  margin-left: 13%;
}

.admin-text {
  font-family: 'Frank Ruhl Libre', serif;
  font-weight: 300;
  font-size: 1.4em;
  letter-spacing: .05em;
}

// administrate users
.administrate-users {
  background-color: rgb(255, 247, 247);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1050px;
  width: 100%;
  position: relative;
}

table {
  margin: 0 auto;
  border-radius: 5px;
  font-family: 'Frank Ruhl Libre', serif;
  table-layout: fixed;
  th {
    text-align: center;
    letter-spacing: .1em;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.3em;
    font-family: 'Frank Ruhl Libre', serif;
  }
  td {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.2em;
    font-family: 'Frank Ruhl Libre', serif;
    overflow-wrap : break-word;
  }
}

.description {
  width: 400px;
}

.admin-give-btn {
  border-color: black;
  background-color: rgba(24, 121, 248, 1);
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: .1em;
  transition: 0.3s;
  width: 88%;
  &:hover{
    background-color: rgba(24, 121, 248, 0.8);
    color: white;
  }
}

.admin-delete-btn {
  border-color: black;
  background-color: rgba(241, 38, 23, 1);
  padding-left: 1%;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: .1em;
  transition: 0.3s;
  width: 88%;
  &:hover{
    background-color: rgba(241, 38, 23, 0.8);
    color: white;
  }
}
.back-index {
  text-decoration: none !important;
}

// .administrate-categories

.btn-new-category {
  border-color: black;
  font-family: 'Frank Ruhl Libre', serif;
  width: 50%;
  height: 8%;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: .1em;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: 0.5s;
  &:hover{
    opacity: 0.8;
    background-color: black;
    color: white;
  }
}

.category-btn-group {
  margin-left: 33%;
}

.back-index-test {
  text-decoration: none !important;
  position: absolute;
    left: 20%;
}

.edit-btn {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: .1em;
  transition: 0.3s;
  color: black;
  text-decoration: none !important;
  &:hover {
    opacity: 0.9;
    color: green;
  }
}

.delete-btn {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: .1em;
  transition: 0.3s;
  color: black;
  text-decoration: none !important;
  &:hover {
    opacity: 0.9;
    color: red;
  }
}

// category-new

.back-new {
  text-decoration: none !important;
}

.back-group {
  margin-left: 28%;
  margin-top: 2%;
}

.title-admin {
  font-family: 'Frank Ruhl Libre', serif;
  color: white;
}

// index for cagegory
.category-title {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: .1em;
  transition: 0.4s;
  color: black;
  text-decoration: none !important;
  &:hover {
    opacity: 0.9;
    color: rgb(52, 52, 236);
  }
}

// word create
.word-create-box {
  background-color: rgba(26, 25, 25, 0.7);
  border-radius: 10px;
  margin-left: 33%;
  padding-bottom: 1%;
}

.word-group .form-text {
  font-family: 'Frank Ruhl Libre', serif;
  color: white;
  display: inline;
}

// lessons-index
.card {
  height: 10%;
  margin-left: 5.5%;
}

.subtitle {
  height: 70px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.btn-learned {
  width: 140px;
  height: 45px;
  padding-top: 7%;
}

.container-fluid {
  background-color: rgb(255, 247, 247);
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  padding: 0px;
  margin: 0px;
}

.row {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.btn-group {
  width: 50%;
}

.btn-secondary {
  width:10%;
}

.result-btn {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: .1em;
  transition: 0.3s;
  color: rgba(0, 128, 0, 1);
  background-color: white;
  border:1px solid rgba(0, 128, 0, 1);
  text-decoration: none !important;
  &:hover {
    color: white;
    background-color:rgba(0, 128, 0, 0.8);
    border:1px solid rgba(0, 128, 0, 0.8);
  }
}

.start-btn {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: .1em;
  transition: 0.3s;
  color: white;
  background-color: rgba(0, 128, 0, 0.8);
  text-decoration: none !important;
  &:hover {
    color:white;
    background-color: rgba(0, 128, 0, 0.6);
  }
}

.continue-btn {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.0em;
  font-weight: 300;
  letter-spacing: .1em;
  transition: 0.3s;
  color: white;
  background-color: rgba(248, 143, 73, 1);
  text-decoration: none !important;
  &:hover {
    color:white;
    background-color: rgba(252, 161, 101, 0.9);
  }
}

// result-page

.text-total {
  font-size: 1.5em;
  font-family: 'Frank Ruhl Libre', serif;
}

.fa-check-circle {
  color: green;
}
.fa-check-circle:hover {
  color: green;
}

.space {
  width:100%;
  height:200px;
}

.height-100 {
  height: 100%;
}


// .activity-feed
.photo-feed {
  width: 80px;
  height: 80px;
  border-radius: 52%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.people-name {
  text-decoration: none;
  color: rgb(39, 109, 240);
}
.people-name:hover {
  color: rgb(39, 109, 240);

}

// .word-learned-page

.word-index-user {
  margin-left: 4%;
  border: 2px solid gray;
  border-radius: 30px;
  height: 250px;
}