<div class="form-image-session">
    <p class="text-center mb-3 pt-3 follow-title">Administration</p>
    <div class="text-center">
        <%= link_to 'Users', "#", class: "btn btn-edit" %>
    </div>
</div>