<div class="container-fluid dash">
    <p class="text-center mb-4 pt-4 admin-title">ADMINISTRATION</p>
    <div class="admin-top">
        <div class="text-center mb-3 pb-3 col-10">
            <p class="admin-text">You can add AdminUser and also delete AdminUser from USER BUTTON below.</p>
            <%= link_to 'Users', admin_users_path, class: "btn btn-adminpage" %>
        </div>
        <div class="text-center mt-3 pt-3 col-10">
            <p class="admin-text">You can add Categories and delete and edit from CATEGORY BUTTON below.</p>
            <%= link_to 'Category', admin_categories_path, class: "btn btn-adminpage" %>
        </div>
    </div>
    <div class="back-parent">
        <%= link_to 'Back', user_path(current_user), class: "back" %>
    </div>
</div>