<div class="form-image-session">
    <p class="text-center mb-3 pt-3 admin-title">Administration</p>
    <div class="admin-top">
        <div class="text-center mb-3 pb-3 col-10">
            <p class="admin-text">You can add AdminUser and also delete AdminUser from USER BUTTON below.</p>
            <%= link_to 'Users', "#", class: "btn btn-adminpage" %>
        </div>
        <div class="text-center mt-3 pt-3 col-10">
            <p class="admin-text">You can add Categories and delete and edit from CATEGORY BUTTON below.</p>
            <%= link_to 'Category', "#", class: "btn btn-adminpage" %>
        </div>
    </div>
</div>